---
import { readAll } from "../lib/markdoc/read";
import { blog } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const posts = await readAll({
  directory: "blog",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Blog | ${SITE_TITLE}`} slot="meta" />

  <main slot="main">
    <h1
      class="font-extrabold text-2xl md:text-3xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Writing
      </span>
    </h1>

    <section>
      <ul>
        {
          sortedPosts.map((post) => {
            const formattedDate = new Date(
              post.frontmatter.date
            ).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            });

            const description = post.frontmatter.description;
            const short_description =
              description && description?.length > 80
                ? `${description?.substring(0, 80)}...`
                : description;

            return (
              <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
                <div class="title">
                  {post.frontmatter.external ? (
                    <a
                      href={post.frontmatter.url}
                      target="_blank"
                      class="unset hover:text-text-link"
                    >
                      <span>{post.frontmatter.title}</span>
                      <span>
                        <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square pt-1" />
                      </span>
                    </a>
                  ) : (
                    <div class="grid gap-2 pb-4">
                      <a
                        href={`/blog/${post.slug}`}
                        class="unset hover:text-text-link"
                      >
                        {post.frontmatter.title}
                      </a>
                      <p class="text-gray-400 text-sm">{short_description}</p>
                      <div class="flex gap-2">
                        {post.frontmatter.tags.map((tag) => {
                          return (
                            <span class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] text-xs font-bold px-2.5 py-0.5 rounded dark:from-primary-main dark:via-primary-main dark:to-primary-main dark:text-gray-700 text-white border-orange-300 dark:border-yellow-300">
                              {tag}
                            </span>
                          );
                        })}
                      </div>
                    </div>
                  )}
                </div>
                <div class="text-text-muted text-sm italic m-auto">
                  <time datetime={post.frontmatter.date.toISOString()}>
                    {formattedDate}
                  </time>
                </div>
              </li>
            );
          })
        }
      </ul>
    </section>
  </main>
</PageLayout>
