---
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE, SITE_URL } from "../config";
import PageLayout from "../layouts/PageLayout.astro";
import { project } from "../lib/markdoc/frontmatter.schema";
import { readAll } from "../lib/markdoc/read";

const projects = await readAll({
  directory: "projects",
  frontmatterSchema: project,
});

const sortedProjects = projects
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Projects | ${SITE_TITLE}`} slot="meta" />
  <main slot="main">
    <h1
      class="font-extrabold text-2xl md:text-3xl tracking-tight pt-4 pb-5 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Projects
      </span>
    </h1>

    <div class="flex flex-wrap mb-4">
      {
        sortedProjects.map((item) => {
          return (
            <div class="w-full lg:w-1/2 px-3">
              <div class="max-w-sm rounded overflow-hidden shadow-lg">
                <a href={`${item.frontmatter.url}`} target="_blank">
                  <img
                    class="w-full"
                    src={`${SITE_URL}${item.frontmatter.thumbnail_image}`}
                    alt="Sunset in the mountains"
                  />
                </a>

                <div class="py-4">
                  <a href={`${item.frontmatter.url}`} target="_blank">
                    <div class="font-bold text-xl mb-2">
                      {item.frontmatter.title}
                    </div>
                  </a>
                  <p class="text-gray-500 text-sm">
                    {item.frontmatter.description}
                  </p>
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </main>
</PageLayout>
